@import "style";

button {
  min-height: 44px;
  min-width: 120px;
  border: 1px solid $color-primary-light;
  color: $color-primary-light;
  background: $color-primary;
  font-size: $font-size-normal;
  cursor: pointer;

  &:disabled {
    background: $color-primary-light;
    color: $color-primary;
    cursor: default;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    border: 1px solid $color-secondary;
    color: $color-secondary;
  }
}