$grid-columns: 12;
$grid-size-small: 768px;
$grid-size-medium: 970px;
$grid-type-small: small;
$grid-type-medium: medium;
$grid-type-large: large;
$grid-padding: 10px;

// Calculates the width of a column by its weight
@function calc-grid-column-width($weight) {
  @return 100% / ($grid-columns / $weight);
}

@function calc-grid-padding($padding) {
  @return $padding / 2;
}

// Creates all classes for a specific grid type
@mixin grid-columns($type) {
  @for $i from 1 through $grid-columns {
    &.size-#{$type}-#{$i} {
      width: calc-grid-column-width($i);
    }
  }
}

.row {
  clear: both;

  &::after {
    visibility: hidden;
    display: block;
    clear: both;
    content: "";
  }

  .column {
    padding: 0 calc-grid-padding($grid-padding);
    box-sizing: border-box;
    float: left;

    //phones
    @media (max-width: $grid-size-small) {
      @include grid-columns($grid-type-small);
    }

    //tablets
    @media (min-width: $grid-size-small) and (max-width: $grid-size-medium) {
      @include grid-columns($grid-type-medium);
    }

    //desktops
    @media (min-width: $grid-size-medium) {
      @include grid-columns($grid-type-large);
    }
  }
}
