// android pixel ratios
$pixel-ratio-mdpi: 1.0;
$pixel-ratio-hdpi: 1.5;
$pixel-ratio-xhdpi: 2.0;
$pixel-ratio-xxhdpi: 3.0;
$pixel-ratio-xxxhdpi: 4.0;

/* fonts */
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Lora', serif;

// font for texts
@mixin font-primary() {
  font-family: $font-primary;
}

// font for headers, etc.
@mixin font-secondary() {
  font-family: $font-secondary;
}

/* colors */
$color-primary: rgb(85, 98, 112);
$color-primary-light: rgb(130, 146, 163);
$color-primary-dark: rgb(51, 51, 51);
$color-secondary: #FF9900;
$color-secondary-light: #fbd025;
$color-secondary-dark: #B56B00;
$color-error: rgb(240, 35, 17);

// used for fonts with an inset style
@mixin font-inset($color: $color-primary, $offset: 42) {
  text-shadow: 1px 1px 0 ($color + $offset), -1px -1px 1px ($color - $offset);
  color: $color;
}

/* sizes */
$font-size-normal: 14px;

/* backgrounds */
$path-image-root: "../res";

// get the file path of the given image name
@function create-image-url($ratio, $image-name) {
  @return url($path-image-root + "/drawable-" + $ratio + "/" + $image-name);
}

@mixin background-image($image-name, $color: transparent, $position: 0% 0%, $size: auto auto, $repeat: repeat, $attachment: scroll) {
  @media screen and (-webkit-max-device-pixel-ratio: $pixel-ratio-mdpi) {
    background-image: create-image-url(mdpi, $image-name);
  }

  @media screen and (-webkit-device-pixel-ratio: $pixel-ratio-hdpi) {
    background-image: create-image-url(hdpi, $image-name);
  }

  @media screen and (-webkit-device-pixel-ratio: $pixel-ratio-xhdpi) {
    background-image: create-image-url(xhdpi, $image-name);
  }

  @media screen and (-webkit-device-pixel-ratio: $pixel-ratio-xxhdpi) {
    background-image: create-image-url(xxhdpi, $image-name);
  }

  @media screen and (-webkit-device-pixel-ratio: $pixel-ratio-xxxhdpi) {
    background-image: create-image-url(xxxhdpi, $image-name);
  }

  @if ($size != auto auto) {
    background-size: $size !important;
  }

  @if $attachment != scroll {
    background-attachment: $attachment;
  }

  @if ($position != 0% 0%) {
    background-position: $position;
  }

  @if $repeat != repeat {
    background-repeat: $repeat;
  }

  @if $color != transparent {
    background-color: $color;
  }
}
