$columns: 12;
$size-small: 768px;
$size-medium: 970px;
$size-small-name: small;
$size-medium-name: medium;
$size-large-name: large;

@function grid-column-width($n) {
  @return 100% / ($columns / $n);
}

.row {
  clear: both;

  .column {
    float: left;

    //phones
    @media (max-width: $size-small) {
      @for $i from 1 through $columns {
        &.size-#{$size-small-name}-#{$i} {
          width: grid-column-width($i);
        }
      }
    }

    //tablets
    @media (min-width: $size-small) and (max-width: $size-medium) {
      @for $i from 1 through $columns {
        &.size-#{$size-medium-name}-#{$i} {
          width: grid-column-width($i);
        }
      }
    }

    //desktops
    @media (min-width: $size-medium) {
      @for $i from 1 through $columns {
        &.size-#{$size-large-name}-#{$i} {
          width: grid-column-width($i);
        }
      }
    }
  }
}
