$grid-columns: 12;
$grid-size-small: 768px;
$grid-size-medium: 970px;
$grid-type-small: small;
$grid-type-medium: medium;
$grid-type-large: large;

// Calculates the width of a column by its weight
@function grid-column-width($weight) {
  @return 100% / ($grid-columns / $weight);
}

// Creates all classes for a specific grid type
@mixin grid-columns($type) {
  @for $i from 1 through $grid-columns {
    &.size-#{$type}-#{$i} {
      width: grid-column-width($i);
    }
  }
}

.row {
  clear: both;

  .column {
    float: left;

    //phones
    @media (max-width: $grid-size-small) {
      @include grid-columns($grid-type-small);
    }

    //tablets
    @media (min-width: $grid-size-small) and (max-width: $grid-size-medium) {
      @include grid-columns($grid-type-medium);
    }

    //desktops
    @media (min-width: $grid-size-medium) {
      @include grid-columns($grid-type-large);
    }
  }
}
