@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Noto+Serif:400,700);
/* fonts */
/* colors */
/* sizes */
/* backgrounds */
/* fonts */
/* colors */
/* sizes */
/* backgrounds */
.row {
  clear: both; }
  .row::after {
    visibility: hidden;
    display: block;
    clear: both;
    content: " "; }
  .row .column {
    padding: 5px;
    box-sizing: border-box;
    min-height: 1px; }
    @media (max-width: 768px) {
      .row .column.size-small-1 {
        width: 8.33333%;
        float: left; }
      .row .column.size-small-2 {
        width: 16.66667%;
        float: left; }
      .row .column.size-small-3 {
        width: 25%;
        float: left; }
      .row .column.size-small-4 {
        width: 33.33333%;
        float: left; }
      .row .column.size-small-5 {
        width: 41.66667%;
        float: left; }
      .row .column.size-small-6 {
        width: 50%;
        float: left; }
      .row .column.size-small-7 {
        width: 58.33333%;
        float: left; }
      .row .column.size-small-8 {
        width: 66.66667%;
        float: left; }
      .row .column.size-small-9 {
        width: 75%;
        float: left; }
      .row .column.size-small-10 {
        width: 83.33333%;
        float: left; }
      .row .column.size-small-11 {
        width: 91.66667%;
        float: left; }
      .row .column.size-small-12 {
        width: 100%;
        float: left; } }
    @media (min-width: 768px) and (max-width: 970px) {
      .row .column.size-medium-1 {
        width: 8.33333%;
        float: left; }
      .row .column.size-medium-2 {
        width: 16.66667%;
        float: left; }
      .row .column.size-medium-3 {
        width: 25%;
        float: left; }
      .row .column.size-medium-4 {
        width: 33.33333%;
        float: left; }
      .row .column.size-medium-5 {
        width: 41.66667%;
        float: left; }
      .row .column.size-medium-6 {
        width: 50%;
        float: left; }
      .row .column.size-medium-7 {
        width: 58.33333%;
        float: left; }
      .row .column.size-medium-8 {
        width: 66.66667%;
        float: left; }
      .row .column.size-medium-9 {
        width: 75%;
        float: left; }
      .row .column.size-medium-10 {
        width: 83.33333%;
        float: left; }
      .row .column.size-medium-11 {
        width: 91.66667%;
        float: left; }
      .row .column.size-medium-12 {
        width: 100%;
        float: left; } }
    @media (min-width: 970px) {
      .row .column.size-large-1 {
        width: 8.33333%;
        float: left; }
      .row .column.size-large-2 {
        width: 16.66667%;
        float: left; }
      .row .column.size-large-3 {
        width: 25%;
        float: left; }
      .row .column.size-large-4 {
        width: 33.33333%;
        float: left; }
      .row .column.size-large-5 {
        width: 41.66667%;
        float: left; }
      .row .column.size-large-6 {
        width: 50%;
        float: left; }
      .row .column.size-large-7 {
        width: 58.33333%;
        float: left; }
      .row .column.size-large-8 {
        width: 66.66667%;
        float: left; }
      .row .column.size-large-9 {
        width: 75%;
        float: left; }
      .row .column.size-large-10 {
        width: 83.33333%;
        float: left; }
      .row .column.size-large-11 {
        width: 91.66667%;
        float: left; }
      .row .column.size-large-12 {
        width: 100%;
        float: left; } }

/* fonts */
/* colors */
/* sizes */
/* backgrounds */
input {
  background: #333333;
  border: 1px solid #8292a3;
  color: #8292a3;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px;
  font-weight: lighter; }
  input:disabled {
    background: #8292a3;
    color: #556270; }
  input:focus {
    border: 1px solid #fbb829;
    color: #fbb829;
    box-shadow: none;
    outline: 0; }
  input.error {
    border: 1px solid #f02311;
    color: #f02311; }
  input.search {
    background-size: 25px auto !important;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #333333;
    padding: 5px 5px 5px 25px; }
    @media screen and (-webkit-max-device-pixel-ratio: 1) {
      input.search {
        background-image: url("../images/drawable-mdpi/ic_search.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 1.5) {
      input.search {
        background-image: url("../images/drawable-hdpi/ic_search.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 2) {
      input.search {
        background-image: url("../images/drawable-xhdpi/ic_search.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 3) {
      input.search {
        background-image: url("../images/drawable-xxhdpi/ic_search.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 4) {
      input.search {
        background-image: url("../images/drawable-xxxhdpi/ic_search.png"); } }
    input.search:disabled {
      background-size: 25px auto !important;
      background-position: center left;
      background-color: #8292a3; }
      @media screen and (-webkit-max-device-pixel-ratio: 1) {
        input.search:disabled {
          background-image: url("../images/drawable-mdpi/ic_search_disabled.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 1.5) {
        input.search:disabled {
          background-image: url("../images/drawable-hdpi/ic_search_disabled.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 2) {
        input.search:disabled {
          background-image: url("../images/drawable-xhdpi/ic_search_disabled.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 3) {
        input.search:disabled {
          background-image: url("../images/drawable-xxhdpi/ic_search_disabled.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 4) {
        input.search:disabled {
          background-image: url("../images/drawable-xxxhdpi/ic_search_disabled.png"); } }
    input.search:focus {
      background-size: 25px auto !important;
      background-position: center left; }
      @media screen and (-webkit-max-device-pixel-ratio: 1) {
        input.search:focus {
          background-image: url("../images/drawable-mdpi/ic_search_focus.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 1.5) {
        input.search:focus {
          background-image: url("../images/drawable-hdpi/ic_search_focus.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 2) {
        input.search:focus {
          background-image: url("../images/drawable-xhdpi/ic_search_focus.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 3) {
        input.search:focus {
          background-image: url("../images/drawable-xxhdpi/ic_search_focus.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 4) {
        input.search:focus {
          background-image: url("../images/drawable-xxxhdpi/ic_search_focus.png"); } }
    input.search.error {
      background-size: 25px auto !important;
      background-position: center left; }
      @media screen and (-webkit-max-device-pixel-ratio: 1) {
        input.search.error {
          background-image: url("../images/drawable-mdpi/ic_search_error.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 1.5) {
        input.search.error {
          background-image: url("../images/drawable-hdpi/ic_search_error.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 2) {
        input.search.error {
          background-image: url("../images/drawable-xhdpi/ic_search_error.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 3) {
        input.search.error {
          background-image: url("../images/drawable-xxhdpi/ic_search_error.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 4) {
        input.search.error {
          background-image: url("../images/drawable-xxxhdpi/ic_search_error.png"); } }

/* fonts */
/* colors */
/* sizes */
/* backgrounds */
button {
  min-height: 30px;
  min-width: 120px;
  border: 1px solid #8292a3;
  color: #8292a3;
  background: #556270;
  cursor: pointer; }
  button:hover {
    border: 1px solid #fbb829;
    color: #fbb829; }
  button:disabled {
    border: inherit;
    background: #8292a3;
    color: #556270;
    cursor: default; }
  button:focus {
    outline: 0; }
  button:active {
    border: 1px solid #ff9900;
    color: #ff9900; }
  button.mobile {
    min-height: 44px;
    min-width: 120px; }

/* fonts */
/* colors */
/* sizes */
/* backgrounds */
p.text {
  font-family: 'Noto Serif', serif;
  color: #0c0c0c;
  box-sizing: border-box;
  font-weight: normal; }
  p.text.warning {
    background-size: 32px auto !important;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    background-color: #fbb829;
    padding: 10px 10px 10px 48px; }
    @media screen and (-webkit-max-device-pixel-ratio: 1) {
      p.text.warning {
        background-image: url("../images/drawable-mdpi/ic_warning.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 1.5) {
      p.text.warning {
        background-image: url("../images/drawable-hdpi/ic_warning.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 2) {
      p.text.warning {
        background-image: url("../images/drawable-xhdpi/ic_warning.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 3) {
      p.text.warning {
        background-image: url("../images/drawable-xxhdpi/ic_warning.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 4) {
      p.text.warning {
        background-image: url("../images/drawable-xxxhdpi/ic_warning.png"); } }
  p.text.error {
    background-size: 32px auto !important;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    background-color: #f02311;
    padding: 10px 10px 10px 48px;
    color: #e0e0e0; }
    @media screen and (-webkit-max-device-pixel-ratio: 1) {
      p.text.error {
        background-image: url("../images/drawable-mdpi/ic_error.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 1.5) {
      p.text.error {
        background-image: url("../images/drawable-hdpi/ic_error.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 2) {
      p.text.error {
        background-image: url("../images/drawable-xhdpi/ic_error.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 3) {
      p.text.error {
        background-image: url("../images/drawable-xxhdpi/ic_error.png"); } }
    @media screen and (-webkit-device-pixel-ratio: 4) {
      p.text.error {
        background-image: url("../images/drawable-xxxhdpi/ic_error.png"); } }

/* fonts */
/* colors */
/* sizes */
/* backgrounds */
nav ul.list {
  list-style: none;
  font-weight: lighter;
  box-sizing: border-box; }
  nav ul.list li > ul.list {
    padding-left: 20px; }
  nav ul.list li a {
    padding: 5px;
    box-sizing: border-box;
    display: block; }
    nav ul.list li a.selected, nav ul.list li a:hover {
      background: #fbb829;
      font-weight: normal;
      cursor: pointer; }
    nav ul.list li a:active {
      background: #ff9900; }
    nav ul.list li a.file {
      background-size: 20px 20px !important;
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 20px; }
      @media screen and (-webkit-max-device-pixel-ratio: 1) {
        nav ul.list li a.file {
          background-image: url("../images/drawable-mdpi/ic_file.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 1.5) {
        nav ul.list li a.file {
          background-image: url("../images/drawable-hdpi/ic_file.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 2) {
        nav ul.list li a.file {
          background-image: url("../images/drawable-xhdpi/ic_file.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 3) {
        nav ul.list li a.file {
          background-image: url("../images/drawable-xxhdpi/ic_file.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 4) {
        nav ul.list li a.file {
          background-image: url("../images/drawable-xxxhdpi/ic_file.png"); } }
      nav ul.list li a.file:hover {
        background-size: 20px 20px !important;
        background-position: left center;
        background-repeat: no-repeat;
        background-color: #fbb829; }
        @media screen and (-webkit-max-device-pixel-ratio: 1) {
          nav ul.list li a.file:hover {
            background-image: url("../images/drawable-mdpi/ic_file.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 1.5) {
          nav ul.list li a.file:hover {
            background-image: url("../images/drawable-hdpi/ic_file.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 2) {
          nav ul.list li a.file:hover {
            background-image: url("../images/drawable-xhdpi/ic_file.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 3) {
          nav ul.list li a.file:hover {
            background-image: url("../images/drawable-xxhdpi/ic_file.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 4) {
          nav ul.list li a.file:hover {
            background-image: url("../images/drawable-xxxhdpi/ic_file.png"); } }
      nav ul.list li a.file:active {
        background-size: 20px 20px !important;
        background-position: left center;
        background-repeat: no-repeat;
        background-color: #ff9900; }
        @media screen and (-webkit-max-device-pixel-ratio: 1) {
          nav ul.list li a.file:active {
            background-image: url("../images/drawable-mdpi/ic_file.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 1.5) {
          nav ul.list li a.file:active {
            background-image: url("../images/drawable-hdpi/ic_file.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 2) {
          nav ul.list li a.file:active {
            background-image: url("../images/drawable-xhdpi/ic_file.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 3) {
          nav ul.list li a.file:active {
            background-image: url("../images/drawable-xxhdpi/ic_file.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 4) {
          nav ul.list li a.file:active {
            background-image: url("../images/drawable-xxxhdpi/ic_file.png"); } }
    nav ul.list li a.folder {
      background-size: 20px 20px !important;
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 20px; }
      @media screen and (-webkit-max-device-pixel-ratio: 1) {
        nav ul.list li a.folder {
          background-image: url("../images/drawable-mdpi/ic_folder.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 1.5) {
        nav ul.list li a.folder {
          background-image: url("../images/drawable-hdpi/ic_folder.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 2) {
        nav ul.list li a.folder {
          background-image: url("../images/drawable-xhdpi/ic_folder.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 3) {
        nav ul.list li a.folder {
          background-image: url("../images/drawable-xxhdpi/ic_folder.png"); } }
      @media screen and (-webkit-device-pixel-ratio: 4) {
        nav ul.list li a.folder {
          background-image: url("../images/drawable-xxxhdpi/ic_folder.png"); } }
      nav ul.list li a.folder:hover {
        background-size: 20px 20px !important;
        background-position: left center;
        background-repeat: no-repeat;
        background-color: #fbb829; }
        @media screen and (-webkit-max-device-pixel-ratio: 1) {
          nav ul.list li a.folder:hover {
            background-image: url("../images/drawable-mdpi/ic_folder.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 1.5) {
          nav ul.list li a.folder:hover {
            background-image: url("../images/drawable-hdpi/ic_folder.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 2) {
          nav ul.list li a.folder:hover {
            background-image: url("../images/drawable-xhdpi/ic_folder.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 3) {
          nav ul.list li a.folder:hover {
            background-image: url("../images/drawable-xxhdpi/ic_folder.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 4) {
          nav ul.list li a.folder:hover {
            background-image: url("../images/drawable-xxxhdpi/ic_folder.png"); } }
      nav ul.list li a.folder:active {
        background-size: 20px 20px !important;
        background-position: left center;
        background-repeat: no-repeat;
        background-color: #ff9900; }
        @media screen and (-webkit-max-device-pixel-ratio: 1) {
          nav ul.list li a.folder:active {
            background-image: url("../images/drawable-mdpi/ic_folder.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 1.5) {
          nav ul.list li a.folder:active {
            background-image: url("../images/drawable-hdpi/ic_folder.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 2) {
          nav ul.list li a.folder:active {
            background-image: url("../images/drawable-xhdpi/ic_folder.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 3) {
          nav ul.list li a.folder:active {
            background-image: url("../images/drawable-xxhdpi/ic_folder.png"); } }
        @media screen and (-webkit-device-pixel-ratio: 4) {
          nav ul.list li a.folder:active {
            background-image: url("../images/drawable-xxxhdpi/ic_folder.png"); } }

* {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0; }

body {
  background: #556270;
  padding: 10px;
  box-sizing: border-box; }
